<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

		<context:property-placeholder location="classpath:db.properties"/>

		<!-- 配置数据源   -->
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<property name="user" value="${user}"></property>
			<property name="password" value="${pass}"></property>
			<property name="jdbcUrl" value="${url}"></property>
			<property name="driverClass" value="${driverClass}"></property>
			<property name="initialPoolSize" value="${initPoolSize}"></property>
			<property name="maxPoolSize" value="${maxPoolSize}"></property>
		</bean>
		
		<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
			<!-- 导入数据源 -->
			<property name="dataSource" ref="dataSource"></property>
			<!-- 加载hibernate 配置文件 -->
			<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
			<!-- 加载映射文件 -->
			<property name="mappingLocations" value="classpath:com/zking/Entity/*.hbm.xml"></property>
		</bean>
		
		<!-- 配置事物管理器 -->
		
		<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		
		
		<!-- 配置事物的属性 -->
		
		<tx:advice id="myadvice" transaction-manager="transactionManager">
			<tx:attributes>
				<tx:method name="add*" propagation="REQUIRED"/>
				<tx:method name="update*" propagation="REQUIRED"/>
				<tx:method name="delete*" propagation="REQUIRED"/>
				<tx:method name="*"/>
			</tx:attributes>
		</tx:advice>
		
		<!-- 配置事物切点 -->
		
		<aop:config>
			<aop:pointcut expression="execution(* com.zking.dao.*.*(..))" id="Mypoint"/>
			<aop:advisor advice-ref="myadvice" pointcut-ref="Mypoint"/>
		</aop:config>

</beans>
